/* navbar */

.nav-text
{
	color: #999999;
	font-family: Comic Sans MS, Comic Sans, Arial, sans-serif;
}

.nav-text:hover
{
	text-decoration: underline;
	color: #777887;
}


/* header */

.intro
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.htext
{
	text-shadow: 3px 1px black;
	font-family: Comic Sans MS, Comic Sans, Arial, sans-serif;
}

.htext2
{
	text-decoration: underline;
	text-shadow: 1.5px .5px black;
	font-family: Comic Sans MS, Comic Sans, Arial, sans-serif;
	
}


/* default font */

.text-color

{
	font-family: Comic Sans MS, Comic Sans, Arial, sans-serif;
	color: #fff;
}

/* about */

.about
{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	text-decoration: underline;
	padding-bottom: 25px;
}

.mypic
{
	text-align: center;
}
.info
{
	text-align: left;
}

.imtransparent
{
	border: 1px solid #777887;
	background-color: #777887;
}
#about-me
{
	padding-top: 35px;
	text-align: center;
}
#skills, #experience, #portfolio
{
	text-align: center;
	padding-top: 150px;
}

.gitlink
{
	color: black;
}

.gitlink:hover
{
	color: #f9f9f9;
}

#countup p 
{
	display: inline;
}

.nav
{
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: white;
	margin-top: 100px;
	width: 100%;
}

.icon-me
{
	margin: 10px 20px;
	color: #777887;
}

.icon-me:hover
{
	text-shadow: 0 0 3px #777887;
	color: #000000;
}