@font-face {
    font-family: Distant Galaxy;
    src: local("Distant Galaxy") url("../fonts/DISTGRG_-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body img {
    height: 150px;
    width: auto;
    margin-bottom: 30px;
}



body img:hover {
    border: 3px solid #ffd700;
    cursor: pointer;
}

.myImages:hover
{
    border: none;
}

body {
    background-color: black;
    color: #FFD700;
    font-family: Distant Galaxy, Impact, Comic Sans, Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
}


.gitlink {
    color: white;
}

.gitlink:hover {
    color: #FFD700;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    height: auto;
    display: block;
    width: auto;
    max-height: 90%;
    max-width: 90%;
}

/* Add Animation */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
.modal-content {
    width: 100%;
}
}
